/*----------------
IMPORT BOOTSTRAP
----------------*/
@import "/node_modules/bootstrap/scss/bootstrap";

/* MIXINS */
@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
@mixin link_reset {
    a{
        text-decoration: none;
        color: inherit;
    }
}
@mixin button-reset {
        border: none;
        background-color: transparent;
        cursor: pointer;
}
@mixin button_project {
    @include button-reset;
    border: 1px solid var(--elements);
    border-radius: 5px;
    padding: 0px 30px;
    &:hover{
        filter: brightness(1.3)
    }

}

@mixin my_container($size) {
    max-width: $size;
    margin: auto;
}

/* VARIABLES */
    /* container size */
    $main_c: 1200px;
    $hero_c: 700px;
    $smaller_c: 1000px;
    /* colours */
    :root{
        --elements: #088384;
        --section1: #EEF4ED;
        --section2: #111117;
    }
/* THYPOGRAPHY */
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    color: #616E76;
}
/* LAYOUT */ 
.container_main{
    @include my_container($main_c)
}
.container_hero{
    @include my_container($hero_c)
}
.container_smaller{
    @include my_container($smaller_c)
}
.fancy_word{
    color: #068a8a;
    padding: 5px 10px;
    border-radius: 5px ;
    background: rgba($color: #078384, $alpha: 0.2)
  }
  .relative{
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .absolute{
    position: absolute; 
  }
  .active_{
    display: block;
  }
  .hidden_{
    display: none;
  }
/* reset button layout */
button{
    padding: 0;
    max-width: max-content;
}

    /* shared components */
    .did{
        color: #088384;
        font-weight: bold;
    }
    h2{
        font-size: 60px;
        color: black;
        font-weight: bold;
    }
    .list_reset{
        @include reset-list;
    }
    /* nav */
    .nav_layout{
        ul{
            @include reset-list;
            @include link_reset;
            display: flex;
            li{ 
                padding: 13px ;
            }
        }
    }
    /* button */
    .my_button{
        @include button-reset;
        @include button_project;
        background-color: transparent;
        &:hover{
            background-color: var(--elements);
        }
    }
    .my_button-fill{
        @include button-reset;
        @include button_project;
        background-color:  var(--elements);
        color: white;
    }

/* HEADER-COMPONENTS */
.header_info{
    @include link_reset;
    .social_component{
        a{
            margin-left: 35px;
            &:first-child{
                margin-left: 20px;
            }
        }
    }
}
